body {
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://github.com/Asabeneh/30-Days-Of-JavaScript/blob/master/26_Day_World_countries_data_visualization_2/26_day_starter/images/globe-2.jpg?raw=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #fff;
    margin: 20px;
}

h2 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
}


button {
    margin-right: 5px;
    width: auto;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border: none;
    background-color: #4dd0d9;
    text-align: center;
}

.active {
    background-color: #1e8c94 !important;
}

button:active {
    background-color: #34b1ba;
}

button:hover {
    background-color: #34b1ba;
    cursor: pointer;
}

button:focus {
    background-color: #34b1ba;
}

input {
    margin: 10px;
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    border: none;
}

input::placeholder {
    color: #dbdbdb;
}

input:focus {
    outline: none;
}

#description {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

#countryList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.country {
    width: 150px;
    height: 150px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("https://raw.githubusercontent.com/Asabeneh/30-Days-Of-JavaScript/master/26_Day_World_countries_data_visualization_2/26_day_starter/images/map_image.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid #7bc8ce;
    border-radius: 8px;
    color: #095156;
}