* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.w-1168 {
  max-width: 1168px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* header */
.header-container {
  background-color: #7e33e0;
}

.header {
  height: 44px;
  color: #f1f1f1;
  font-size: 16px;
}

.header-email {
  margin-right: 48px;
}

.header-login {
  margin-right: 16px;
}

.header-wishlist {
  margin-right: 26px;
}

/* menu */
.menu-container {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

.brand-name {
  color: #0d0e43;
  font-size: 34px;
  margin-right: 88px;
}

.list-menu {
  list-style-type: none;
  padding: 0;
  color: #0d0e43;
  font-size: 16px;
  gap: 35px;
  margin-right: 227px;
}

.list-menu li:hover {
  color: #fb2e86;
}

.search-product {
  width: 100%;
}

.search-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: solid 2px #e7e6ef;
  border-right: none;
  padding: 8px;
}

.search-button {
  width: 50px;
  height: 40px;
  border: none;
  background-color: #fb2e86;
}

/* banner */
.banner-container {
  height: 500px;
  background-color: #f2f0ff;
  position: relative;
}

.alarm {
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 250px;
}

.banner {
  position: relative;
  z-index: 2;
  height: 100%;
}

.des-1 {
  font-size: 16px;
  color: #fb2e86;
  margin-bottom: 12px;
}

.des-2 {
  width: 700px;
  color: #000;
  font-size: 53px;
  margin-bottom: 12px;
}

.des-3 {
  width: 700px;
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-bottom: 27px;
}

.shop-now-btn {
  width: 163px;
  height: 50px;
  background-color: #fb2e86;
  color: #fff;
  font-size: 17px;
  border: none;
  border-radius: 2px;
}

.sofa {
  width: 450px;
  height: 450px;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

.text-center {
  text-align: center;
}

.title {
  color: #1a0b5b;
  font-size: 42px;
}

.featured-products,
.trending-products,
.top-categories {
  margin-top: 48px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: space-between;
}

.featured-product {
  height: 361px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.featured-product:hover {
  background: #2f1ac4;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}
.featured-product:hover .featured-product-thumbnail {
  background: #f7f7f7;
}
.featured-product:hover .featured-product-name,
.featured-product:hover .featured-product-code,
.featured-product:hover .featured-product-price {
  color: #fff;
}
.featured-product:hover .featured-product-icon {
  display: flex;
  align-items: center;
  gap: 3px;
  top: 11px;
  left: 11px;
  position: absolute;
  z-index: 2;
}
.featured-product:hover .featured-product-view-detail-btn {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 9px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  width: 94px;
  height: 29px;
  border: none;
  border-radius: 2px;
  background: #08d15f;
  color: #fff;
  font-size: 12px;
}

.product-icon-item {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 100%;
}

.product-icon-item:hover {
  background-color: #eeeffb;
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.0509803922);
  cursor: pointer;
}

.product-icon-item-cart {
  width: 19px;
  height: 19px;
}

.product-icon-item-heart {
  width: 17px;
  height: 17px;
}

.product-icon-item-search {
  width: 15px;
  height: 15px;
}

.featured-product-image {
  height: 236px;
  position: relative;
}

.featured-product-thumbnail {
  width: 100%;
  height: 236px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #f6f7fb;
}

.featured-product-icon,
.featured-product-view-detail-btn,
.latest-product-icon,
.product-icon-sale,
.top-category-button {
  display: none;
}

.featured-product-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
  align-items: center;
  padding: 0 8px;
}

.featured-product-name {
  color: var(--pink, #fb2e86);
  font-size: 18px;
}

.featured-product-code,
.featured-product-price {
  color: var(--Text, #151875);
  font-size: 14px;
}

.featured-footer {
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.dot {
  cursor: pointer;
  width: 16px;
  height: 4px;
  background-color: #febad7;
  border-radius: 10px;
}

.dot-active {
  background-color: #fb2e86;
}

.home-container {
  width: 100% !important;
  margin-top: 100px;
  text-align: center;
}

.latest-menu {
  margin-top: 19px;
  margin-bottom: 58px;
  display: flex;
  justify-content: center;
  gap: 58px;
}

.latest-menu-item {
  color: var(--Text, #151875);
  font-size: 18px;
  cursor: pointer;
}

.latest-menu-item:hover {
  color: var(--pink, #fb2e86);
}

.latest-menu-item-active {
  color: var(--pink, #fb2e86);
  font-size: 18px;
  border-bottom: 1px solid #fb2e86;
}

.latest-products {
  margin-top: 48px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
}

.latest-product {
  width: 360px;
  height: 306px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.latest-product:hover .latest-product-icon {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  top: 146px;
  left: 15px;
}
.latest-product:hover .product-icon-sale {
  display: block;
}
.latest-product:hover .latest-product-thumbnail {
  background: #fff;
}

.latest-product-image {
  position: relative;
  height: 270px;
}

.latest-product-thumbnail {
  width: 360px;
  height: 270px;
  -o-object-fit: contain;
     object-fit: contain;
  background: #f6f7fb;
}

.product-icon-sale {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 18px;
  width: 85px;
  height: 57px;
}

.latest-product-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: start;
  margin: 8px;
}

.latest-product-name {
  color: var(--Text, #151875);
  font-size: 16px;
  width: 230px;
}

.latest-product-price-sale {
  color: var(--Text, #151875);
  font-size: 14px;
}

.latest-product-price {
  color: #fb2448;
  font-size: 12px;
  text-decoration: line-through;
}

.shopex-item {
  margin-top: 55px;
  width: 270px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}

.shopex-icon {
  width: 65px;
  height: 65px;
}

.shopex-label {
  color: var(--Text, #151875);
  font-size: 22px;
}

.shopex-desc {
  color: rgba(26, 11, 91, 0.3);
  font-size: 16px;
}

.banner-container-2 {
  background-color: #f1f0ff;
  height: 450px;
  margin-top: 100px;
}

.sofa-2 {
  width: 450px;
  height: 450px;
}

.banner-2-title {
  color: var(--Text, #151875);
  font-size: 35px;
}

.banner-2-des {
  color: #acabc3;
  font-size: 16px;
}

.banner-2-add {
  gap: 19px;
  margin-top: 38px;
}

.banner-2-button {
  width: 157px;
  height: 45px;
  border: none;
  background: var(--Accent, #fb2e86);
  color: #fff;
  font-size: 17px;
}

.banner-2-product-tilte,
.banner-2-product-price {
  color: var(--Text, #151875);
  font-size: 14px;
}

.trending-product {
  height: 350px;
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
  cursor: pointer;
}

.trending-product-thumbnail {
  display: inline-flex;
  background: #f5f6f8;
  width: 247px;
  height: 244px;
  margin-top: 11px;
}

.trending-product-info {
  gap: 8px;
  margin-top: 15px;
  padding: 0 8px;
}

.trending-product-name {
  color: var(--Text, #151875);
  text-align: center;
  font-size: 16px;
}

.trending-product-price-sale {
  color: var(--Text, #151875);
  font-size: 14px;
}

.trending-product-price {
  color: rgba(21, 24, 117, 0.3);
  font-size: 12px;
  text-decoration-line: line-through;
}

.top-category-product {
  height: 345px;
  cursor: pointer;
}

.top-category-product:hover .top-category-product-image {
  border-radius: 100%;
  border: solid 1px #9877e7;
  /* shadow */
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}
.top-category-product:hover .top-category-button {
  display: block;
}

.top-category-product-image {
  height: 270px;
  position: relative;
}

.top-category-product-thumbnail {
  height: 100%;
  border-radius: 100%;
  background: #f6f7fb;
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
}

.top-category-button {
  position: absolute;
  z-index: 2;
  top: 213px;
  left: 93px;
  width: 94px;
  height: 29px;
  border: none;
  border-radius: 2px;
  background: #08d15f;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.top-category-product-name {
  color: var(--Text, #151875);
  font-size: 20px;
  display: block;
  margin-top: 27px;
  margin-bottom: 13px;
}

.top-category-product-price {
  color: var(--Text, #151875);
  font-size: 16px;
}

.top-categories-footer {
  height: 10px;
  gap: 10px;
}

.top-dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: solid 1px #fb2e86;
  border-radius: 50px;
}

.top-dot:hover,
.top-dot-active {
  background-color: #fb2e86;
}

.banner-3 {
  height: 462px;
  background-image: url("/file icon/banner-3.png");
}

.get-latest {
  color: var(--Text, #151875);
  font-size: 35px;
  margin-bottom: 28px;
}

.latest-blog {
  margin-top: 48px;
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  width: 370px;
  height: 493px;
  border-radius: 5px;
  box-shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
  cursor: pointer;
}

.blog-item:hover .blog-title,
.blog-item:hover .read-more-btn {
  color: #fb2e86;
}

.blog-image {
  width: 370px;
  height: 255px;
  border-radius: 5px;
}

.blog-info {
  margin-top: 20px;
  margin-left: 14px;
}

.blog-icon {
  width: 11px;
  height: 11px;
  margin-right: 2px;
}

.blog-text {
  color: var(--Text, #151875);
  font-size: 14px;
  margin-right: 29px;
}

.blog-title {
  color: var(--Text, #151875);
  font-size: 18px;
  margin-top: 30px;
  margin-left: 19px;
}

.blog-des {
  color: #72718f;
  font-size: 16px;
  margin-top: 17px;
  margin-left: 19px;
}

.read-more-btn {
  border: none;
  background-color: #fff;
  color: var(--Text, #151875);
  font-size: 16px;
  text-decoration-line: underline;
  margin-top: 14px;
  margin-left: 19px;
  padding: 0;
  cursor: pointer;
}

.footer {
  margin-top: 100px;
  height: 532px;
  background: #e7e4f8;
}

.footer-item-2 {
  height: 53px;
  background-color: #e7e4f8;
}

.company-address {
  color: #9da0ae;
  font-size: 16px;
}

.social-icon {
  display: inline-block;
}

.social-icon-item {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-item-1 {
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 95px;
  background-color: #eeeffb;
  padding-top: 95px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer-contact-title {
  color: #000;
  font-size: 38px;
}

.footer-contact-input {
  width: 377px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  margin-top: 31px;
  position: relative;
}

.footer-contact-input-email {
  width: 242px;
  height: 44px;
  border: none;
  border-radius: 3px;
  background: var(--white, #fff);
  padding: 14px 11px;
  color: #000;
  font-size: 16px;
}

.footer-contact-sign-up-btn {
  width: 135px;
  height: 39px;
  border-radius: 3px;
  background: var(--Accent, #fb2e86);
  border: none;
  color: var(--bg-shade, #eeeffb);
  font-size: 16px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-contact-info {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-top: 25px;
}

.footer-menu-title {
  color: #000;
  font-size: 22px;
  margin-bottom: 41px;
}

.footer-menu-item {
  color: var(--sub-text-color, #8a8fb9);
  font-size: 16px;
  margin-bottom: 21px;
}