.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-weight: var(--font-weight, 400); /* Sử dụng biến CSS cho font-weight, mặc định là 400 */
    font-style: normal;
}

.josefin-sans-bold {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
}

.josefin-sans-semi-bold {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.josefin-sans-medium {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-medium {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lato-semi-bold {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-ellipsis {
    white-space: nowrap; /* Không xuống dòng */
    overflow: hidden; /* Ẩn phần văn bản tràn */
    text-overflow: ellipsis;
}

.primary-color {
    color: #fb2e86;
}

.bg-primary-color {
    background-color: #fb2e86;
}

.active {
    color: #fb2e86;
}
